html, body {
    width: 135px;
    height: 100px;
    display: flex;
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    margin: 3px;
    padding: 3px;
    text-align: left;
    font-size: 10px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #A7B4C9;
    transform: scale(1.1);
  }
  
  .button {
    background-color: #ffffff;
  }
  
  .reset {
    background-color: #FBFBC9;
  }
  
  .reset:hover {
    background-color: #EAEA9D;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #000000;
    text-decoration: none;
  }